soaphello/src/main/resources/SoapHello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"

                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="SoapHello"
                  targetNamespace="http://xmlns.m1m.ch/soap/hello"
                  xmlns:tns="http://xmlns.m1m.ch/soap/hello">


    <wsdl:types>

        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.m1m.ch/soap/hello" schemaLocation="SoapHello.xsd" />
        </schema>

        <xsd:schema targetNamespace="http://xmlns.m1m.ch/soap/hello">
            <xsd:element name="NewOperation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NewOperationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="NewOperationRequest">
        <wsdl:part element="tns:NewOperation" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
        <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="GetHelloRequest">
        <wsdl:part element="tns:HelloRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetHelloResponse">
        <wsdl:part element="tns:HelloResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="SoapHello">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest"/>
            <wsdl:output message="tns:NewOperationResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetHello">
            <wsdl:input message="tns:GetHelloRequest"/>
            <wsdl:output message="tns:GetHelloResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SoapHelloSOAP" type="tns:SoapHello">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation">
            <soap:operation soapAction="ch.m1m.soap.hello/NewOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetHello">
            <soap:operation soapAction="ch.m1m.soap.hello/GetHello"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SoapHello">
        <wsdl:port binding="tns:SoapHelloSOAP" name="SoapHelloSOAP">
            <soap:address location="http://localhost:8080/SoapHelloEndpoint/services/SoapHello"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
